<footer class="bg-roverBlue text-center lg:text-left">
    <div class="text-roverNeutral text-center p-4">
      © 2022 Copyright:
      Hattie n Rachel n Sasha : )
    </div>
  </footer>
</body>
</html>