<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoverDex</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <script type="text/javascript" crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/hyper-ui@latest/dist/hyper-ui.umd.min.js"></script>

    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header class="bg-roverBlue">
      <div
        class="flex items-center h-16 max-w-screen-xl gap-8 px-4 mx-auto sm:px-6 lg:px-8"
      >
        <a class="block text-teal-600" href="/">
          <span class="sr-only">Home</span>
          <img src="/imgs/roverGrayNoBg.png" alt="Roverdex logo" width="50px" height="50px">
        </a>
        <h1 class="font-brand text-roverNeutral text-5xl">RoverDex</h1>
    
        <div class="flex items-center justify-end flex-1 md:justify-between">
          <nav class="hidden md:block" aria-labelledby="header-navigation">
            <h2 class="sr-only" id="header-navigation">Header navigation</h2>
    
            <ul class="flex items-center gap-6 text-sm">
              
              <% if(page === "clients") { %>
                <li><a href="/profile"class="text-roverNeutral transition hover:text-roverNeutral/75">Profile</a></li>
                <li><a href="/clients"class="text-roverNeutral transition hover:text-roverNeutral/75 underline">Clients</a></li>
                <li><a href="/newPet"class="text-roverNeutral transition hover:text-roverNeutral/75">Add New Pet</a></li>
              <% } else if (page === "profile"){ %>
                <li><a href="/profile"class="text-roverNeutral transition hover:text-roverNeutral/75 underline">Profile</a></li>
                <li><a href="/clients"class="text-roverNeutral transition hover:text-roverNeutral/75">Clients</a></li>
                <li><a href="/newPet"class="text-roverNeutral transition hover:text-roverNeutral/75">Add New Pet</a></li>
              <% } else if (page === "newPet") { %>
                <li><a href="/profile"class="text-roverNeutral transition hover:text-roverNeutral/75">Profile</a></li>
                <li><a href="/clients"class="text-roverNeutral transition hover:text-roverNeutral/75">Clients</a></li>
                <li><a href="/newPet"class="text-roverNeutral transition hover:text-roverNeutral/75 underline">Add New Pet</a></li>
              <% } else { %>
                <li><a href="/profile"class="text-roverNeutral transition hover:text-roverNeutral/75">Profile</a></li>
                <li><a href="/clients"class="text-roverNeutral transition hover:text-roverNeutral/75">Clients</a></li>
                <li><a href="/newPet"class="text-roverNeutral transition hover:text-roverNeutral/75">Add New Pet</a></li>
              <% } %>
    
            </ul>
          </nav>
    
          <div class="flex items-center gap-4">
            <div class="sm:gap-4 sm:flex">
              <% if(typeof user === 'undefined') { %>
                <a
                class="block px-5 py-2.5 text-sm font-medium text-white bg-roverNavy hover:bg-roverNavy/75 transition rounded-md" href="/login">
                Login
              </a>
              <a
                class="hidden sm:block px-5 py-2.5 text-sm font-medium text-roverNavy bg-gray-100 rounded-md hover:bg-white/75 transition" href="/signup">
                Register
              </a>
              <% } else { %>
                <a
                class="hidden sm:block px-5 py-2.5 text-sm font-medium text-roverNavy bg-gray-100 rounded-md hover:bg-white/75 transition" href="/logout">
                Logout
              </a>              
              <% } %>
            </div>
    
            <button
              class="block p-2.5 text-gray-600 transition bg-gray-100 rounded md:hidden hover:text-gray-600/75"
            >
              <span class="sr-only">Toggle menu</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>
    