<%- include('partials/header') %>
<main class="flex flex-col min-h-screen">
  <div>
      <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
  </div>
        
  <div>
    <a href="/clients">Return to Clients</a>
  </div>  
      
</main>
<%- include('partials/footer') %>